dl,
ol,
ul,
p{
	margin:0;
	padding:0;
}

li{
	list-style: none;
}

*:active,
*:focus,
*:active:focus,
.btn:active,
.btn:focus,
.btn:active:focus{
	outline:0 !important;
}

.ng-hide{
	display: none !important;
}

.panel{
		margin-bottom: 0px;
}
.chat-window{
		bottom:0;
}
.chat-window > div > .panel{
		border-radius: 5px 5px 0 0;
}

.top-bar {
	background: #666;
	color: white;
	padding: 10px;
	position: relative;
	overflow: hidden;
}

.panel{
	border: 0;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.panel-heading,
.panel-body,
.panel-footer{
	display: flex;
}

.panel-heading{
	box-shadow: 0 -1px 5px #AAA;
	min-height: 38px;
	position: relative;
	z-index: 1;
}

.panel-heading h1{
	margin-right: 14px;
}

.panel-heading .btn{
	padding: 0;
	position: absolute;
	right: 10px;
	top: 10px;
}

.panel-heading .btn i{
	transform: rotateZ(-45deg);
}

.panel-body{
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex: 1;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	padding:10px;
	overflow: auto;
}

.panel-body > p{
	font-style: italic;
	text-align: center;
	width: 100%;
}

.panel-body li{
	display: flex;
	margin-bottom: 10px;
}

.panel-footer{
	box-shadow: 0 1px 5px #AAA;
	flex-wrap:wrap;
	padding: 10px;
	z-index: 1;
}

.panel-footer form{
	margin-bottom: 0;
	width: 100%;
}

.panel-footer form label{
	font-size: 12px;
	font-weight: normal;
	margin:0;
	margin-left: 6px;
	vertical-align: text-bottom;
}

.panel-footer form .reassign-content{
	padding-bottom: 5px;
	width: 100%;
}

.panel-footer form input[type="text"]{
	border-radius: 0;
  display: inline-block;
  height: 22px;
  padding: 5px;	
  vertical-align: top;
}

.panel-footer .dropup{
	display: inline-block;
	vertical-align: top;
	width: 95%;
}

.panel-footer .dropdown-menu{
	display: block;
	width: 100%;
}

.panel-footer .dropdown-menu>li>a:focus,
.panel-footer .dropdown-menu>li>a:hover{
  background-color: #EEF7FF;
}

textarea {
	max-height: 125px;
	margin-bottom:10px;
	padding:5px;
	resize:vertical;
	width: 100%;
}

time[data-time]{
	background: inherit;
	white-space: nowrap;
}

time[data-time]:hover:before {
  background: inherit;
  content: attr(data-time);
  position: absolute;
}

.comment {
	background: #ECECEC;  //#D2EDFF;
	border-left:2px solid transparent;
	flex:10;
	padding: 10px;
	max-width: 100%;
	position: relative;
	transition:all 0.3s linear;
}

.comment:before{
	content: "";
	width: 0;
	height: 0;
	border-left: 15px solid rgba(0, 0, 0, 0);
	border-top: 15px solid #ECECEC; //15px solid #D2EDFF;
	position: absolute;
	left: -9px;
	top:10px;
	z-index:0;
	transform:rotateZ(-135deg);
	transition:all 0.3s linear;
}

.comment .author{
		color: #8B8B8B;
}

.comment > p {
		font-size: 13px;
		margin: 0 0 0.2rem 0;
  	overflow: hidden;
  	text-overflow: ellipsis;
	}
.comment > time {
		font-size: 11px;
		color: #AAA;
}

.avatar{
	margin-right: 30px;
	position: relative;
}

.avatar img{
	border-radius: 50%;
	transition:all 0.3s linear;
} 

.panel-body > ul{
	width:100%;
}

.panel-body li:hover .comment{
	border-left:2px solid #337AB7;
}

.panel-body li:hover .comment:before{
	border-top: 15px solid #337AB7;
}

.avatar[data-initials]:hover:before{
/*  background-color: rgba(185, 185, 185, 0.8);
	border-radius: 50%;
	color:white;
	content: attr(data-initials);
  font-size: 1.5em;
  line-height: 2.3em;
	height: 2.3em;
	left: 0;
	padding: inherit;
	position: absolute;
	top: 0;
	text-align: center;
  text-shadow: 0px 0px 5px #333;
	width: 100%; */
  background-color: rgba(185, 185, 185, 0.8);
  border-radius: 50%;
  color: #FFF;
  content: attr(data-initials);
  font-size: 11px;
  height: 48px;
  left: 0;
  padding: 10px 0;
  position: absolute;
  top: 0;
  text-align: center;
  text-shadow: 0px 0px 3px #4F4F4F;
  white-space: initial;
  width: 100%;
}

#information{
	display: flex;
 	flex-direction: column;
	height:100%;
	position: absolute;
	top:0;
	transition:all 0.2s ease;
	width:100%;
	z-index: 1;
}

#information.ng-hide{
	display: flex !important;
	opacity:0;
	top: -1000px;
}

#information header{
	background: #F5F5F5;
	border-bottom: 1px solid #DDD;
	display: flex;
	flex-wrap: wrap;
	padding:10px;
}

#information header img{
	border-radius: 4px;
	margin-right: 5px;
}

#information header h1{
	font-size: 16px;
	margin: 5px 0 0 0;
	width: 100%;
}

#information header ol li{
	display: inline;
	font-size: 12px;
	padding-right: 5px;
}

#information header ol li + li:before{
	content:"/";
	padding-right: 5px;
}

#information header .btn{
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

#information .info-body{
	background: white;
	display: flex;
	flex:1;
	/*flex-direction: column;*/
	overflow: auto;
	/*padding:10px;*/
}

#information .info-body nav{
	background: #337AB7;
	height:100%;
	position: fixed;
}

#information .info-body nav .btn{
	border-radius: 0;
	color:white;
}

#information .info-body nav .btn.active{
	background: #5A98CF;
}

#information .info-body nav .btn:hover{
	background: #23527C;
}

#information .info-body div[ng-view]{
	flex:6;
	margin-left: 52px;
}

article details{
	border-bottom: 1px solid #DDD;
}

article details > summary {
	padding: 5px 10px;
}

article details > *:not(summary) {
	padding:10px;
}

article details[open] > *:not(summary) {
	box-shadow: inset 0 0 5px #BBB;
	margin: 0;
	overflow: hidden;
  text-overflow: ellipsis;
}

#details-info > div{
	padding: 10px;
}

#details-info > ul >  li{
	padding: 5px 0;
}

#details-info > div > ul > li:first-child{
	padding-top:0;
}

#details-info > div > ul > li:last-child{
	padding-bottom:0;
}

#details-info > div > ul > li img{
	margin-right: 4px;
}

#details-info > div > ul > li a + a{
	margin-left:5px;
}

#details-info strong{
	color: #707070;
	font-weight: normal;
}

#details-info details strong{
	color:black;
	font-weight: bold;
}

#details-info .label{
	color:black;
	text-transform: uppercase;
}

 #details-info .label-{
	font-size: 100%;
	font-weight: normal;
	padding:0;
	text-transform:none;
}

#details-info .label-default{
	background: #F5F5F5;
	border: 1px solid #CCC;
	font-weight: normal;
	text-transform:none;
}

#details-info .label-green{
	background-color: #14892C;
	border-color: #14892C;
	color: #FFF;
}

#details-info .label-yellow{
	background-color: #FFD351;
	border-color: #FFD351;
}

#details-info .label + .label{
	margin-left:5px;
}

#people-info > div {
  padding: 0 10px;
  border-bottom: 1px solid #DDD;
}

#people-info > div > ul > li {
  padding: 10px 0;
}

#people-info > div > ul > li + li {
  border-top: 1px solid #EEE;
}

#people-info > div > ul > li > div {
	align-items: center;
	display: flex;
	justify-content: space-between;
	position: relative;
}


#people-info > div > ul > li time{
	background-color: #FFF;
	bottom:0;
	color: #999;
  font-size: 11px;
  left: 0;
  position: absolute;
}
#details-info details.linked-issues{
	border:0;
}

#details-info details.linked-issues ul{
	background: #EEF6FD;
}

#details-info details.linked-issues li{
	padding-bottom: 5px;
}

#details-info details.linked-issues li + li{
	border-top:1px solid #E2E2E2;
	padding-top: 5px;
}

#details-info details.linked-issues summary{
	color:#999;
}

#details-info details.linked-issues[open] summary{
	color:#000;
}

#details-info details.linked-issues summary:after{
	content: "\e144";
  transform: rotateZ(45deg);
  transition: all 0.1s linear;
}

#details-info details.linked-issues[open] summary:after{
	transform:rotateZ(90deg);
}


#people-info details summary{
	position: relative;
}

#people-info details summary:after{
	background-color: #ADD8E6;
  border-radius: 50%;
  color: #000;
  content: attr(data-watchers);
  font-size: 12px;
  height: 20px;
  margin: 0;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 20px;
}

#people-info details[open] summary:after {	
	content:"";
	display: none;
	margin:0;
}

#people-info .watchers{
	overflow: auto;
}

#people-info .watchers ul {
	white-space: nowrap;
	width: auto;
}
#people-info .watchers ul li {
	display: inline-block;
}

#people-info .watchers ul li + li{
	padding-left: 10px;
}

#people-info .watchers ul li .avatar{
	border: 2px solid #FFF;
  border-radius: 50%;
  box-shadow: 0 0 5px #AAA, inset 0 0 5px #CCC;
  margin: 0;
}

#people-info .watchers ul li .avatar .glyphicon{
	display: none;
	position: absolute;
	right: -8px;
	top: -8px;
}

#people-info .watchers ul li .avatar:hover .glyphicon{
	display: block;
}

#people-info .watchers ul li .avatar .glyphicon-comment:after {
	color: #FFF;
	content: attr(data-comments);
	font-size: 10px;
	font-weight: normal;
	left: 7px;
	position: absolute;
	top: 2px;
}

#people-info .watchers ul li .avatar .glyphicon-comment:before{
	font-size: 20px;
	opacity: 0.75;
}


#dates-info p.last-viewed {
	background: white;
  padding: 5px;
  color: #999;
  font-size: 11px;
  text-align: right;
}


#dates-info p.last-viewed time{
	white-space: initial;
}

#dates-info p.last-viewed time[data-time]:hover{
	text-align: left;
}

.timeline{
	padding: 20px 0;
	position: relative;
}
.timeline:before {
	/* this is the vertical line */
	background: #337AB7;
	content: '';
	left: 80%;
	height: 100%;
	position: absolute;
	top: 0;
	width: 2px;
}

.timeline .timeline-block {
  margin-bottom: 20px;
  position: relative;
}
.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-block:first-child {
  margin-top: 0;
}
.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline .timeline-block.resolved{
	border-bottom: 6px double white;
}

.timeline .timeline-img {
	background: #EEF6FD;
	border: 2px solid #FFF;
	border-radius: 50%;
	box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
	left: 80%;
	height: 36px;
	margin-left: -18px;
	position: absolute;
	top: 5px;
	width: 36px;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

.timeline .resolved .timeline-img{
	background: #75CE66;
	color:white;
}

.timeline .timeline-img img{
	background: rgba(255, 255, 255, 0.6) 50% url(../images/img-loader_32.gif) no-repeat;
}

.timeline .timeline-img img,
.timeline .timeline-img span.icon {
  border-radius: 50%;
  display: block;
  height: 32px;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  position: relative;
  top: 50%;
  width: 32px;
}

.timeline .timeline-img span.icon{
  display: flex;
  justify-content: center;
}

.timeline .timeline-img span.icon i{
	font-size: 22px;
	top: 5px;
}

.timeline-content {
  background: #EEF7FF;
  border-radius: 0.25em;
  box-shadow: 0 2px 0 #D7E4ED;
	margin-left: 20px;
	padding: 10px;
	position: relative;
	width: 60%;
}
.timeline-content:before {
	border: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid #EEF7FF;
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #EEF7FF;
	content: '';
	height: 0;
	position: absolute;
	left: 100%;
	top: 16px;
	width: 0;
}
.timeline-content time {
  color:#888;
  font-size: 12px;
  left: 60%;
  width: 100%;
}

#attachments-info{
	text-align: center;
}

#attachments-info li{
	border-bottom:1px solid #DDD;
	padding:10px;
}

#attachments-info li:hover{
	background: #F5F5F5;
}

#attachments-info p{
	font-style: italic;
	padding: 10px;
}

#attachments-info dl,
#attachments-info dl dd{
	background: inherit;
}

#attachments-info dl dd time{
	color: #708090;
	font-size: 11px;
	font-style: italic;
}

summary::-webkit-details-marker {
  display: none
}

summary:after {
	content:"\e080";
	float: left;
	font-family: 'Glyphicons Halflings';
	font-size: 12px;
	margin-right: 5px;
	margin-top: 1px;
}

details[open] summary:after {
  content:"\e114";
}

.loading:after{
	background: rgba(255, 255, 255, 0.6) 50% url(../images/ajax-loader.gif) no-repeat;
	content: "";
	left: 0;
	height: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

/* scroll bars */
::-webkit-scrollbar {
		height: 4px;
		width: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
		background: rgba(22, 87, 136, 0.8);
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(22, 87, 136, 0.4); 
}

@media (max-width: 250px) {
	.panel-title{
		font-size: 14px;
	}

	.avatar img{
		height:36px;
		width:36px;
	}

	.comment span,
  .comment p{
  	font-size: 11px;
  }

  .comment time{
  	font-size: 10px;
  }
}