#container{
	margin:100px auto;
	width:800;
}

#container h1{
	border: 0;
	border-bottom: 1px solid #E5E5E5;
	color: #333;
	display: block;
	font-size: 20px;
	line-height: inherit;
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	width: 100%;
}

#container .well{
	position: relative;
}

#container .alert{
	padding:10px;
}
#container input.saved{
	border-color:#4CAE4C
}

#container .input-group-btn[style*="display:none"] + #input-jql,
#container .input-group-btn[style*="display: none"] + #input-jql{
	border-radius: 4px 0 0 4px;
}

.loading:after{
	background: rgba(255, 255, 255, 0.6) 50% url(../images/ajax-loader.gif) no-repeat;
	content: "";
	left: 0;
	height: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.form-group{
	background: inherit;
}

hr{
	background: inherit;
	border-color: #E0E0E0;
  	position:relative;
}

hr:after{
	background:inherit;
	content:'or';
	left:48%;
	font-style: italic;
	padding:0 10px;
	position:absolute;
	top:-10px;
}


#favorites > option:first-child{
  color: #999;
}


#favorites > option,
#favorites option[selected],
#favorites[value=""]{
	color:black;
}

#btn-favorite{
	top: 0;
}