body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn{
	border-radius: 0;
}

.btn:active,
.btn:focus,
.btn:active:focus {
  outline: 0;
}

.loading:after{
	background: rgba(255, 255, 255, 0.6) 50% url(../images/ajax-loader.gif) no-repeat;
	content: "";
	left: 0;
	height: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

.app-icon{
	background: #FFF url(../images/jira.png) no-repeat 0 0px;
	background-size: 19px;
	border-radius: 5px;
	display: inline-block;
	height: 18px;
	margin-right: 4px;
	padding: 0;
	vertical-align: middle;
	width: 19px;
}

header{
	background: rgb(22, 87, 136);
	margin: 0;
	padding: 0;
	position: absolute;
	top:0;
	width: 100%;
	z-index:99;
}

#btn-options i,
#btn-refresh i{
	transition:transform .3s;
}

#btn-options:hover i{
	transform:rotateZ(90deg);
}

#btn-refresh:hover i{
	transform:rotateZ(180deg);
}

#btn-refresh{
	display: none;
}

.panel #btn-refresh{
	display: inline-block;
}

.jira-module{
	margin-top:24px;
}

.btn-toolbar .btn{
	color:white;
}

.btn-group>.btn+.dropdown-toggle{
	padding:0;
}

.dropdown-menu{
	border-radius: 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  background: #165788;
}

.dropdown-menu>li>a{
	font-size: 12px;
	padding: 2px 5px;
}

.dropdown-menu>.active>a>i{
	opacity: 0.5;
}

#container{
	border: 1px solid #CCC;
	margin: 0;
	position: relative;
	width:300px;
}

#container.panel{
	border:0;
	width:auto;
}

#container.panel header{
	position: fixed;
}

#container p{
	margin:0;
	padding:10px;
}

#container ul{
	margin: 0;
	padding:0;
}

#container ul li{
	list-style: none;
	overflow: hidden;
	position: relative;
}

#container section > ul > li{

}

#container section > ul > li.no-data{
	font-style: italic;
	padding: 5px 10px;
	text-align: center;
}

#container section > ul > li:focus,
#container section > ul > li:hover{
	background-color: #F4F4F4;
	box-shadow: inset 0 0 5px #AAA;
}
#container section > ul > li.no-data:focus,
#container section > ul > li.no-data:hover{
	box-shadow: none;
	background-color: white;
}
#container section > ul > li + li {
	border-top: 1px solid #CCC;
}

#container.panel section > ul > li{
	border-bottom: 1px solid #E0E0E0;
	border-top: 0;
}

#container section > ul > li .issue-links{
	padding: 5px 10px;
	position: relative;
	transition:margin 0.2s ease-in;
}

#container section > ul > li .issue-links.owner:before{
	border-bottom: 6px solid #165788;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	content: '';
	height: 0;
	right: -5px;
	position: absolute;
	top: -1px;
	width: 0;
	transform: rotateZ(45deg);
}

#container section > ul > li[data-is-watching="true"]:hover:after{
	border-bottom: 6px solid white;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	box-shadow:0 0 5px #AAA;
	content: '';
	height: 0;
	left: -3px;
	position: absolute;
	top: -1px;
	width: 0;
	transform: rotateZ(-45deg);
}

#container section > ul > li:hover .issue-links{
	background-color: #EBF2F9;
	box-shadow: -1px 0 10px #AAA;
	margin-left:35px;
}

#container section > ul > li a{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#container section > ul > li a.issue-title{
	display: inline;
}

#container section > ul > li .issue-title + .label{
	font-size: 11px;
	margin-left: 5px;
}


.label-blue-gray{
	background-color: #4a6785;
	border-color: #4a6785;
	color: #fff;
}

.label-green{
	background-color: #14892C;
	border-color: 1px solid #106B23;
	color: #FFF;
}

.label-yellow{
	background-color: #FFD351;
	border: 1px solid #E2B124;
	color: #000;
}

#container section > ul > li img{
	margin-right: 3px;
}

#container section > ul > li:hover .nav{
	opacity: 1;
}

.nav{
	opacity: 0;
	padding:0;
	position: absolute;
	left:0px;
	text-align: center;
	top:12px;
	transition:opacity 0.2s ease;
	width: 35px;
}

.btn-comment {
    position: relative;
}

.btn-comment:hover:after {
  border-color: #23527C;
}

.btn-comment:after {
    background-color: #FFF;
    border: 1px solid #337AB7;
    border-radius: 50%;
    content: attr(data-comments);
    font-family: Arial;
    font-size: 9px;
    height: 13px;
    position: absolute;
    right: -4px;
    top: -2px;
    width: 13px;
}

.issue-links time{
	color: #999;
	position: absolute;
	font-size: 11px;
	font-style: italic;
	right: 10px;
	top: 5px;
}

.nav .btn-link{
	padding:0;
}

.btn-link:focus,
.btn-link:hover{
	text-decoration: none;
}


#container form input,
#container form button{
	border-radius: 0;
}

ul.issues:empty,
ul.issues:empty:before{
	display: none;
}

ul.issues:not(:empty):before {
	background: #F2F2F2;
	border-bottom: 1px solid #EFEFEF;
	color: #666;
  	content: attr(data-label);
	display: block;
	font-size: 12px;
	padding: 5px;
	width: 100%;
}

.panel ul.issues:not(:empty):before {
	border-bottom: 1px solid #E0E0E0;
}

/* scroll bars */
::-webkit-scrollbar {
    width: 4px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(22, 87, 136, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(22, 87, 136, 0.4); 
}