<html ng-app="commentsApp">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/vendor/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/comments.css">
		<script type="text/javascript" src="../js/vendor/moment.js"></script>
		<script src="../js/vendor/angular.min.js" type="text/javascript"></script>
		<script src="../js/vendor/angular-route.min.js" type="text/javascript"></script>
		<script src="../js/comments.js" type="text/javascript"></script>
		<title>Comments</title>
	</head>
	<body>
		<div id="container" ng-controller="CommentsCtrl" data-domain={{domain}}>
			<div class="chat-window" ng-class="loading" id="chat-window">
				<div class="panel panel-default">
					<header class="panel-heading top-bar">
						<h1 class="panel-title">
							{{issue.fields.summary}}
							<button ng-hide="loading" ng-click="showInfo = !showInfo" ng-init="showInfo=false"class="btn btn-link btn-xs">
								<i class="glyphicon glyphicon-remove-circle"></i>
							</button>
						</h1>
					</header>
					<div class="panel-body">
						<p ng-if="!comments.length">
							This issue does not have any comments yet.
						</p>
						<ul ng-if="comments.length">
							<li ng-repeat="comment in comments" id="{{ comment.id }}" scroll-to-last>
								<!-- <div class="avatar" data-initials="{{ abbrevate(comment.author.displayName) }}"> -->
								<div class="avatar" data-initials="{{ comment.author.displayName }}">
									<img alt="{{ comment.author.displayName }}" ng-src="{{ getAvatar(comment.author) }}" class="img-responsive">
								</div>
								<div class="comment">
									<span class="author">{{ comment.author.displayName }}</span>
									<p ng-bind-html=" comment.body | formatMarkdown "></p>
									<time data-time="{{ comment.created | formatDate }}" datetime="{{ comment.created }}">{{ comment.created | fromNow }}</time>
								</div>
							</li>
						</ul>
					</div>
					<footer class="panel-footer">
						<form name="commentForm">
							<div class="pull-left reassign-content">
								<input id="reassign" type="checkbox" name="reassign" ng-model="reassign" ng-init="reassign=false" ng-change=""/>
								<label ng-hide="reassign" for="reassign">Reassign?</label>
								<div class="input-group dropup">
									<input ng-keyup="reassignKeyup($event)" ng-show="reassign" class="form-control input-sm" type="text" name="reassignee" ng-disabled="!reassign" ng-model="reassignee.displayName" placeholder="Reassign to..."/>
									<ul ng-show="reassignees.length" class="dropdown-menu" role="menu">
										<li ng-repeat="user in reassignees">
											<a href="#" ng-click="clickAssignee(user)">{{ user.displayName }}</a>
										</li>
									</ul>
								</div>
							</div>
							<textarea required name="body" id="new-comment" ng-model="body"></textarea>
							<div class="btn-toolbar pull-right" role="toolbar">
								<div class="btn-group" role="group" ng-if="transitions.length">
									<button 
										class="btn btn-default btn-xs"
										data-transition="{{ t.id }}" 
										ng-click="transitionIssue(t.id)" 
										ng-disabled="commentForm.$invalid" 
										ng-repeat="t in transitions" 
										type="button"\>{{ t.name }}
									</button>
								</div>
								<div class="btn-group" role="group">
									<button ng-click="comment()" ng-disabled="commentForm.$invalid" class="btn btn-primary btn-xs" id="btn-comment">Comment</button>
								</div>
							</div>
						</form>
					</footer>
				</div>			
			</div>
			<article ng-show="showInfo" id="information" class="ng-hide">
				<header>
					<img alt="{{issue.fields.project.name}}" ng-src="{{issue.fields.project.avatarUrls['24x24']}}"/>
					<ol>
						<li><a ng-href="{{baseUrl}}browse/{{issue.fields.project.key}}" target="_blank">{{issue.fields.project.name}}</a></li>
						<li><a ng-href="{{baseUrl}}browse/{{issue.key}}" target="_blank">{{issue.key}}</a></li>
					</ol>
					<h1>{{issue.fields.summary}}</h1>
					<button ng-click="showInfo = !showInfo" class="btn btn-link btn-xs">
						<i class="glyphicon glyphicon-remove-circle"></i>
					</button>
				</header>
				<div class="info-body">		
					<nav class="btn-group-vertical">
						<!-- <button data-section="{{section.name}}" class="btn btn-link btn-lg" ng-click="changeTab(section)" ng-class="tab === section.name ? 'active' : ''" ng-repeat="section in sections">
							<i class="glyphicon glyphicon-{{section.icon}}"></i>
						</button> -->
						<a 
							class="btn btn-link btn-lg" 
							data-section="{{ section.name }}" 								
							ng-class="tab === section.name ? 'active' : ''" 
							ng-click="changeTab(section)" 
							ng-href="#/{{section.name}}" 
							ng-repeat="section in sections">
							<i class="glyphicon glyphicon-{{ section.icon }}"></i>
						</a>
					</nav>
					<div ng-view="">
					</div>
				</div>
			</article>
		</div>
	</body>
</html>