<html ng-app="dashboardApp">
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="../css/vendor/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/options.css">
		<script type="text/javascript" src="../js/vendor/moment.js"></script>
		<script src="../js/vendor/angular.min.js" type="text/javascript"></script>
		<script src="../js/vendor/angular-route.min.js" type="text/javascript"></script>
		<script src="../js/dashboard.js" type="text/javascript"></script>
	</head>
	<body ng-controller="DashboardCtrl">
		<div id="container" class="container row">
			<div class="well">
				<h1>{{ user.jira.fullName }}</h1>
				<div id="alert" class="alert alert-danger" style="display:none;">
					<a class="close" href="#">&times;</a>
					<p></p>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-btn" style="display: none;">
							<button id="btn-remove" class="btn btn-default" type="button">&times;</button>
						</span>
						<input autocomplete="off" id="input-jql" name="jql" type="text" class="form-control" placeholder="assignee=currentuser() AND resolution=unresolved">
						<span class="input-group-btn">
							<button id="btn-test" disabled class="btn btn-warning" type="button">Test</button>
							<button id="btn-save" disabled class="btn btn-success" type="button">Save</button>
						</span>
					</div>
				</div>
				<div class="form-group" id="favorites-group" ng-if="favorites.length">
					<hr/>
					<label for="favorites" class="control-label">Favorites</label>
					<div class="input-group">
						<select class="form-control" id="favorites">
							<option value="">Select Favorite</option>
							<option data-domain="{{ favorite.domain }}" data-viewUrl="{{ favorite.viewUrl }}" ng-repeat="favorite in favorites" value="{{ favorite.jql }}">{{ favorite.name }}</option>
						</select>
						<span class="input-group-btn">
							<a disabled id="btn-favorite" class="btn btn-default glyphicon glyphicon-share" href="#" target="_blank">
							</a>
						</span>
					</div>
				</div>

			</div>
		</div>
	</body>
</html>