<section id="dates-info">
	<details class="time-tracking" ng-if="timetracking">
		<summary>Time Tracking</summary>
		TODO:
	</details>
	<div class="timeline">
		<div class="timeline-block" ng-repeat="item in timeline" ng-class="item.action === resolution.name ? 'resolved' : ''">
			<div class="timeline-img" ng-class="item.action === resolution.name ? 'resolved' : ''">
				<img ng-if="item.actor" ng-src="{{ item.actor.avatarUrls['32x32']}}" alt="{{ item.actor.displayName }}">
				<span ng-if="item.icon" class="icon">
					<i class="glyphicon glyphicon-{{ item.icon }}"></i>
				</span>
			</div>
			<div class="timeline-content" ng-if="item.date">
				<p>
					{{ item.action }}
					<span ng-if="item.actor"> by {{ item.actor.displayName }}</span>
				</p>
				<time data-time="{{ item.date |formatDate }}" datetime="{{ item.date }}">{{ item.date | fromNow }}</time>
			</div>
			<div class="timeline-content" ng-if="!item.date">
				<p>
					{{ item.action }} and {{ !!item.actor.displayName ? 'currently assigned to ' + item.actor.displayName : 'unassigned' }}
				</p>
			</div>
		</div>
	</div>
	<p class="last-viewed">
		Last viewed 
		<time data-time="{{ lastViewed | formatDate }}" datetime="{{ lastViewed }}">{{ lastViewed | fromNow }}</time>
	</p>
</section>