<section id="details-info">
	<details ng-show="description" class="ng-hide">
		<summary>Description</summary>
		<p ng-bind-html="description | formatMarkdown"></p>
	</details>
	<div>
		<ul>
			<li ng-if="labels.length">
				<strong>Labels:</strong>
				<span class="label label-default" ng-repeat="label in labels">{{ label }}</span>
			</li>
			<li>
				<strong>Priority:</strong>
				<span>
						<img 
							alt="{{ priority.name }}" 
							ng-src="{{ priority.iconUrl }}" 
							title="{{ priority.name }}" />
						{{ priority.name }}
				</span>
			<li ng-if="resolution.name">
				<strong>Resolution:</strong>
				{{ resolution.name }}
			</li>
			<li>
				<strong>Status:</strong>
				<span>
						<img 
							alt="{{ status.name }}" 
							ng-src="{{ status.iconUrl }}" 
							title="{{ status.statusCategory.name }}" />
						{{ status.statusCategory.name }}
						<span class="label label-{{ status.statusCategory.colorName}}">
							{{ status.name }}
						</span>
				</span>
			</li>
			<li>
				<strong>Type:</strong>
				<span>
					<img 
						alt="{{ issuetype.name }}" 
						ng-src="{{ issuetype.iconUrl }}" 
						title="{{ issuetype.description }}" />{{ issuetype.name }}
				</span>
			</li>
			<li ng-if="fixVersions.length">
				<strong>Fix Version/s:</strong>
				<a ng-href="{{ baseUrl }}browse/{{ project.key }}/fixforversion/{{ fix.id }}" ng-repeat="fix in fixVersions" target="_blank">{{ fix.name }}</a>
			</li>

		</ul>
	</div>
	<details class="linked-issues" open ng-if="subtasks.length">
		<summary data-sub-tasks="{{ subtasks.length }}">Sub Tasks ({{ subtasks.length }})</summary>
		<ul>
			<li ng-repeat="sub in subtasks">
				<div>
					<a class="issue-title" ng-href="{{ issueUrl(sub.key) }}">
						<img 
							alt="{{ sub.fields.issuetype.name }}" 
							ng-src="{{ sub.fields.issuetype.iconUrl }}">
							{{ sub.fields.summary }}
					</a>
				</div>
			</li>
		</ul>
	</details>
	<details class="linked-issues" ng-if="issuelinks.length">
		<summary data-linked-issues="{{ issuelinks.length }}">Linked Issues ({{ issuelinks.length }})</summary>
		<ul>
			<li ng-repeat="issue in issuelinks">
				<div>
					<a class="issue-title" ng-href="{{ issueUrl(issue.key) }}">
						<img 
							alt="{{ issue.fields.issuetype.name }}" 
							ng-src="{{ issue.fields.issuetype.iconUrl }}">
							{{ issue.fields.summary }}
					</a>
				</div>
			</li>
		</ul>
	</details>
</section>