<section id="people-info">
	<div>
		<ul>
			<li>
				<div>
					Assigned to:
					<span class="avatar" data-initials="{{ assignee.displayName }}">
						<img alt="{{ assignee.displayName }}" ng-src="{{ assignee.avatarUrls['48x48'] }}" />
					</span>
				</div>
			</li>
			<li>
				<div>
					Reported by:
					<span class="avatar" data-initials="{{ reporter.displayName }}">
						<img alt="{{ reporter.displayName }}" ng-src="{{ reporter.avatarUrls['48x48'] }}" />
					</span>
					<time data-time="{{ created | formatDate }}" datetime="{{ created }}">{{ created | fromNow }}</time>
				</div>
			</li>
		</ul>
	</div>
	<details>
		<summary data-watchers="{{ watches.watchCount }}">
			Watchers
		</summary>
		<div class="watchers">
			<ul>
				<li ng-repeat="w in watches.watchers">
					<div class="avatar" data-initials="{{ w.displayName }}">
						<img alt="{{ w.displayName }}" ng-src="{{ w.avatarUrls['48x48'] }}" />
						<span class="glyphicon glyphicon-comment" ng-if="hasCommented(w)" data-comments="{{ getComments(w).length }}">
						</span>
					</div>
				</li>
			</ul>
		</div>
	</details>
</section>